<div class="product-container">
  
  <section class="search-ml"> <app-searchbar (search)="filterSellers($event)"></app-searchbar></section>
 
  @if(allProducts.length>0)
 { <div class="product-section">
   @for( product of allProducts; track product){
  <app-product-item [product]= "product"></app-product-item>
   }
</div>
<div class="btn-container">
<button  mat-flat-button (click)="previousPage()"  [disabled]="currentPage === 1">Previous</button>
<button mat-flat-button (click)="nextPage()"  [disabled]="currentPage === totalPages">Next</button>
</div>
}

@else{
  <p>no product found</p>
}

</div>
 
     
