<div class="product-container">
  <app-searchbar></app-searchbar>

  <div class="product-section">
   
    
@for( product of allProducts; track product){
  <app-product-item [product]= "product"></app-product-item>
}
</div>
</div>
 
     
 <!-- <div class="container">
  <app-searchbar></app-searchbar>
  <div >
    <app-card-swiper 
      [cards]="allProducts" 
      [swipeSpeed]="500" 
      [visibleCards]="3" 
      (cardClick)="handleCardClick($event)"
      >
    </app-card-swiper>
  </div>
</div> -->
      
      <!-- (cardClick)="handleCardClick($event)" -->