<div class="product-container">
  
  <section class="search-ml"> <app-searchbar (search)="filterSellers($event)"></app-searchbar></section>
 
  @if(allProducts.length>0)
 { <div class="product-section">
   @for( product of allProducts; track product){
  <app-product-item [product]= "product"></app-product-item>
   }
</div>}
@else{
  <p>no product found</p>
}
</div>
 
     
 <!-- <div class="container">
  <app-searchbar></app-searchbar>
  <div >
    <app-card-swiper 
      [cards]="allProducts" 
      [swipeSpeed]="500" 
      [visibleCards]="3" 
      (cardClick)="handleCardClick($event)"
      >
    </app-card-swiper>
  </div>
</div> -->
      
      <!-- (cardClick)="handleCardClick($event)" -->