<div >
    <!-- Select Address Section -->
     <mat-card class="checkout-container">
    <h2>Checkout</h2>
     <mat-card-content>
    <section>
      <h3>Select Shipping Address</h3>
      <div *ngIf="shippingAddress.length > 0;">
        <mat-radio-group class="address-list" [(ngModel)]="selectedAddress">
          <mat-radio-button
            *ngFor="let address of shippingAddress"
            [value]="address._id"
          >
            <p>{{ address.label }}</p>
            <p>{{ address.street }}, {{ address.city }}</p>
            <p>{{ address.state }} - {{ address.postalCode }}, {{ address.country }}</p>
          </mat-radio-button>
        </mat-radio-group>
      </div>
        <p> Add a new address</p>
        <button mat-raised-button color="primary" [routerLink]="'/address'">
          Add Address
        </button>
      
    </section>
 

  </mat-card-content>
  
     <mat-card-actions>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!selectedAddress"
          (click)="confirmOrder()"
        >
          Place Order
        </button>
      </div>
     </mat-card-actions>

  </mat-card>
  </div>
  