
<div class="thank-you-container">
    <mat-card class="thank-you-card">
      <mat-card-header>
        <mat-card-title>Thank You for Your Order!</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <p>Your order has been successfully placed.</p>
        <p>We are currently processing it and will notify you once it's shipped.</p>
     </mat-card-content>
  
      <mat-card-actions class="space-between">
        <button mat-flat-button [routerLink]="'/all-products'">Go to Home</button>
        <button mat-flat-button [routerLink]="'/all-orders'">View Orders</button>
      </mat-card-actions>
    </mat-card>
  </div>
  